<!--{% extends 'blog/base.html' %}-->
    <!--{% block content1 %}-->
        <!--<div class="popular-text">-->
            <!--<h5>Popular Posts</h5>-->
        <!--</div>-->

        <!--<div class="p-posts black-text">-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<h5 class="black-text" style="text-transform: uppercase"><a href="#"> Post Title 1 </a></h5>-->
                    <!--<p>Post Execerpt </p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<h5 class="black-text" style="text-transform: uppercase"><a href="#"> Post Title 2</a></h5>-->
                    <!--<p>Post Execerpt </p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<h5 class="black-text" style="text-transform: uppercase"><a href="#"> Post Title 3</a></h5>-->
                    <!--<p>Post Execerpt </p>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--{% endblock %}-->